h2::after {
    content: "";
    display: block;
    width: 5%;
    height: 2px;
    background-color: #ef3114;
    margin: 12px auto;
}

.active {
    color: red !important;
}


.grow {

    transition: all .9s ease-in-out;
}

.grow:hover {

    transform: scale3d(1.2, 1.2, 1);

}

.form-control:focus {
    border-color: black !important;
    outline-color: black !important;
}

.text-theme {
    color: red;
}

.card {
    cursor: pointer;
}

.border-hover-effect:hover {
    border-color: black !important;
}